# Janatahack: Healthcare Analytics II

## [Janatahack: Healthcare Analytics II](https://datahack.analyticsvidhya.com/contest/janatahack-healthcare-analytics-ii)

The healthcare sector has long been an early adopter of and benefited greatly from technological advances. These days, machine learning plays a key role in many health-related realms, including the development of new medical procedures, the handling of patient data, staff management & more.

This weekend we invite you to participate in another Janatahack with the theme of healthcare analytics. Stay tuned for the problem statement and datasets this Friday and get a chance to work on a real healthcare case study along with 250 AV points at stake.

## Problem Statement

Recent Covid-19 Pandemic has raised alarms over one of the most overlooked area to focus: Healthcare Management. While healthcare management has various use cases for using data science, patient length of stay is one critical parameter to observe and predict if one wants to improve the efficiency of the healthcare management in a hospital. 

This parameter helps hospitals to identify patients of high LOS risk (patients who will stay longer) at the time of admission. Once identified, patients with high LOS risk can have their treatment plan optimized to miminize LOS and lower the chance of staff/visitor infection. Also, prior knowledge of LOS can aid in logistics such as room and bed allocation planning.

Suppose you have been hired as Data Scientist of HealthMan â€“ a not for profit organization dedicated to manage the functioning of Hospitals in a professional and optimal manner.
The task is to accurately predict the Length of Stay for each patient on case by case basis so that the Hospitals can use this information for optimal resource allocation and better functioning. The length of stay is divided into 11 different classes ranging from 0-10 days to more than 100 days.

## Data

Column - Description

case_id - Case_ID registered in Hospital

Hospital_code - Unique code for the Hospital

Hospital_type_code - Unique code for the type of Hospital

City_Code_Hospital - City Code of the Hospital

Hospital_region_code - Region Code of the Hospital

Available Extra Rooms in Hospital - Number of Extra rooms available in the Hospital

Department - Department overlooking the case

Ward_Type -	Code for the Ward type

Ward_Facility_Code - Code for the Ward Facility

Bed Grade -	Condition of Bed in the Ward

patientid -	Unique Patient Id

City_Code_Patient -	City Code for the patient

Type of Admission -	Admission Type registered by the Hospital

Severity of Illness - Severity of the illness recorded at the time of admission

Visitors with Patient -	Number of Visitors with the patient

Age - Age of the patient

Admission_Deposit -	Deposit at the Admission Time

Stay - Stay Days by the patient

Evaluation Metric

The evaluation metric for this hackathon is 100*Accuracy Score.

# Load the Packages

In [88]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

#Basic Packages
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt # Data Visualization
import seaborn as sns # Advance Data Visualization
%matplotlib inline

#OS packages
import os

#Encoding Packages
import pandas as pd
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

#Scaling Packages
from sklearn import preprocessing
mm_scaler = preprocessing.MinMaxScaler()

#Multicolinearity VIF
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor

#Data Modelling Packages
from sklearn.model_selection import train_test_split

from imblearn.over_sampling import RandomOverSampler
sm = RandomOverSampler(random_state=294,sampling_strategy='not majority')

#Model Packages
import lightgbm as lgb


# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

# Load the Datasets

## Loading from Kaggle Input Data

In [89]:
df_Train = pd.read_csv('../data/train.csv')
df_Test = pd.read_csv('../data/test.csv')

# Exploratory Data Analysis

In [90]:
#To find the head of the Data
df_Train.head()

,case_id,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Available Extra Rooms in Hospital,Department,Ward_Type,Ward_Facility_Code,Bed Grade,patientid,City_Code_Patient,Type of Admission,Severity of Illness,Visitors with Patient,Age,Admission_Deposit,Stay
0,1,8,c,3,Z,3,radiotherapy,R,F,2.0,31397,7.0,Emergency,Extreme,2,51-60,4911.0,0-10
1,2,2,c,5,Z,2,radiotherapy,S,F,2.0,31397,7.0,Trauma,Extreme,2,51-60,5954.0,41-50
2,3,10,e,1,X,2,anesthesia,S,E,2.0,31397,7.0,Trauma,Extreme,2,51-60,4745.0,31-40
3,4,26,b,2,Y,2,radiotherapy,R,D,2.0,31397,7.0,Trauma,Extreme,2,51-60,7272.0,41-50
4,5,26,b,2,Y,2,radiotherapy,S,D,2.0,31397,7.0,Trauma,Extreme,2,51-60,5558.0,41-50

In [91]:
#Information of the Dataset Datatype
df_Train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318438 entries, 0 to 318437
Data columns (total 18 columns):
case_id                              318438 non-null int64
Hospital_code                        318438 non-null int64
Hospital_type_code                   318438 non-null object
City_Code_Hospital                   318438 non-null int64
Hospital_region_code                 318438 non-null object
Available Extra Rooms in Hospital    318438 non-null int64
Department                           318438 non-null object
Ward_Type                            318438 non-null object
Ward_Facility_Code                   318438 non-null object
Bed Grade                            318325 non-null float64
patientid                            318438 non-null int64
City_Code_Patient                    313906 non-null float64
Type of Admission                    318438 non-null object
Severity of Illness                  318438 non-null object
Visitors with Patient                318438 non-null int64
Age                                  318438 non-null object
Admission_Deposit                    318438 non-null float64
Stay                                 318438 non-null object
dtypes: float64(3), int64(6), object(9)
memory usage: 43.7+ MB

In [92]:
#Information of the Dataset Continuous Values
df_Train.describe()

,case_id,Hospital_code,City_Code_Hospital,Available Extra Rooms in Hospital,Bed Grade,patientid,City_Code_Patient,Visitors with Patient,Admission_Deposit
count,318438.000000,318438.000000,318438.000000,318438.000000,318325.000000,318438.000000,313906.000000,318438.000000,318438.000000
mean,159219.500000,18.318841,4.771717,3.197627,2.625807,65747.579472,7.251859,3.284099,4880.749392
std,91925.276847,8.633755,3.102535,1.168171,0.873146,37979.936440,4.745266,1.764061,1086.776254
min,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,1800.000000
25%,79610.250000,11.000000,2.000000,2.000000,2.000000,32847.000000,4.000000,2.000000,4186.000000
50%,159219.500000,19.000000,5.000000,3.000000,3.000000,65724.500000,8.000000,3.000000,4741.000000
75%,238828.750000,26.000000,7.000000,4.000000,3.000000,98470.000000,8.000000,4.000000,5409.000000
max,318438.000000,32.000000,13.000000,24.000000,4.000000,131624.000000,38.000000,32.000000,11008.000000

In [93]:
#Columns List
df_Train.columns

Index(['case_id', 'Hospital_code', 'Hospital_type_code', 'City_Code_Hospital',
       'Hospital_region_code', 'Available Extra Rooms in Hospital',
       'Department', 'Ward_Type', 'Ward_Facility_Code', 'Bed Grade',
       'patientid', 'City_Code_Patient', 'Type of Admission',
       'Severity of Illness', 'Visitors with Patient', 'Age',
       'Admission_Deposit', 'Stay'],
      dtype='object')

In [94]:
#Shape of the Train and Test Data
print('Shape of Train Data: ', df_Train.shape)
print('Shape of Test Data: ', df_Test.shape)

Shape of Train Data:  (318438, 18)
Shape of Test Data:  (137057, 17)

In [95]:
#Null values in the Train Dataset
print('Null values in Train Data: \n', df_Train.isnull().sum())

Null values in Train Data:
 case_id                                 0
Hospital_code                           0
Hospital_type_code                      0
City_Code_Hospital                      0
Hospital_region_code                    0
Available Extra Rooms in Hospital       0
Department                              0
Ward_Type                               0
Ward_Facility_Code                      0
Bed Grade                             113
patientid                               0
City_Code_Patient                    4532
Type of Admission                       0
Severity of Illness                     0
Visitors with Patient                   0
Age                                     0
Admission_Deposit                       0
Stay                                    0
dtype: int64

In [96]:
#Null Values in the Test Dataset
print('Null Values in Test Data: \n', df_Test.isnull().sum())

Null Values in Test Data:
 case_id                                 0
Hospital_code                           0
Hospital_type_code                      0
City_Code_Hospital                      0
Hospital_region_code                    0
Available Extra Rooms in Hospital       0
Department                              0
Ward_Type                               0
Ward_Facility_Code                      0
Bed Grade                              35
patientid                               0
City_Code_Patient                    2157
Type of Admission                       0
Severity of Illness                     0
Visitors with Patient                   0
Age                                     0
Admission_Deposit                       0
dtype: int64

Missing Values in "Bed Grade" and "City_Code_Patient" columns.

In [97]:
print('Total Count of the Prediction Output Column Stay Variable: \n', df_Train['Stay'].value_counts())

Total Count of the Prediction Output Column Stay Variable:
 21-30                 87491
11-20                 78139
31-40                 55159
51-60                 35018
0-10                  23604
41-50                 11743
71-80                 10254
More than 100 Days     6683
81-90                  4838
91-100                 2765
61-70                  2744
Name: Stay, dtype: int64

## Assumptions of the Predictor Variables

Target Variable

Stay - Highly Imbalanced. Need to use SMOTE to balance it


Predictor Variable

Hospital Code - Highly Imbalanced and Might affect the model

Hospital Type Code - Imbalanced

City Code Hospital - Imbalanced

Available Extra Rooms - Need to Balance the Available Extra Rooms as its Skewed Positive

Department - Highly Imbalanced

Ward Type Count - highly imbalanced

Patient ID - lot of Unique Values - Might need to drop it

City Code Patient - highly imbalance

Severity of Illness Variable - imbalanced

Visitors with Patient - imbalanced

Age - Imbalanced can be binned even more

Admission Deposit - Continous Need to remove the outliers or Scale the Values

# Basic Feature Engineering

## Remove Duplicate Rows

In [98]:
df_Train.drop_duplicates(keep='first', inplace=True)

NO Duplicate ROWS

## Joining the Train and Test Data for Encoding and Filling the Missing Values

In [99]:
# We will concat both train and test data set
df_Train['is_train'] = 1
df_Test['is_train'] = 0

#df_Frames = [df_Train,df_Test]
df_Total = pd.concat([df_Train, df_Test])

C:\Users\Pooja Jain\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

## Fill missing Values

In [100]:
#Null values in the Total Dataset
print('Null values in Total Data: \n', df_Total.isnull().sum())

Null values in Total Data:
 Admission_Deposit                         0
Age                                       0
Available Extra Rooms in Hospital         0
Bed Grade                               148
City_Code_Hospital                        0
City_Code_Patient                      6689
Department                                0
Hospital_code                             0
Hospital_region_code                      0
Hospital_type_code                        0
Severity of Illness                       0
Stay                                 137057
Type of Admission                         0
Visitors with Patient                     0
Ward_Facility_Code                        0
Ward_Type                                 0
case_id                                   0
is_train                                  0
patientid                                 0
dtype: int64

In [101]:
#using Forward Fill to fill missing Values
df_Total['Bed Grade']=df_Total['Bed Grade'].fillna(method="ffill",axis=0)
df_Total['City_Code_Patient']=df_Total['City_Code_Patient'].fillna(method="ffill",axis=0)

## Feature Engineering

In [102]:
df_Total['Bill_per_patient'] = df_Total.groupby('patientid')['Admission_Deposit'].transform('sum')

## Encoding of the Columns

In [103]:
df_Total.head()

,Admission_Deposit,Age,Available Extra Rooms in Hospital,Bed Grade,City_Code_Hospital,City_Code_Patient,Department,Hospital_code,Hospital_region_code,Hospital_type_code,Severity of Illness,Stay,Type of Admission,Visitors with Patient,Ward_Facility_Code,Ward_Type,case_id,is_train,patientid,Bill_per_patient
0,4911.0,51-60,3,2.0,3,7.0,radiotherapy,8,Z,c,Extreme,0-10,Emergency,2,F,R,1,1,31397,83314.0
1,5954.0,51-60,2,2.0,5,7.0,radiotherapy,2,Z,c,Extreme,41-50,Trauma,2,F,S,2,1,31397,83314.0
2,4745.0,51-60,2,2.0,1,7.0,anesthesia,10,X,e,Extreme,31-40,Trauma,2,E,S,3,1,31397,83314.0
3,7272.0,51-60,2,2.0,2,7.0,radiotherapy,26,Y,b,Extreme,41-50,Trauma,2,D,R,4,1,31397,83314.0
4,5558.0,51-60,2,2.0,2,7.0,radiotherapy,26,Y,b,Extreme,41-50,Trauma,2,D,S,5,1,31397,83314.0

### For Tree Based Algorithm use Label Encoding

In [104]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df_Total['Hospital_code'] = le.fit_transform(df_Total['Hospital_code'])
df_Total['Hospital_type_code'] = le.fit_transform(df_Total['Hospital_type_code'])
df_Total['City_Code_Hospital'] = le.fit_transform(df_Total['City_Code_Hospital'])
df_Total['Hospital_region_code'] = le.fit_transform(df_Total['Hospital_region_code'])
df_Total['Available Extra Rooms in Hospital'] = le.fit_transform(df_Total['Available Extra Rooms in Hospital'])
df_Total['Department'] = le.fit_transform(df_Total['Department'])
df_Total['Ward_Type'] = le.fit_transform(df_Total['Ward_Type'])
df_Total['Ward_Facility_Code'] = le.fit_transform(df_Total['Ward_Facility_Code'])
df_Total['Bed Grade'] = le.fit_transform(df_Total['Bed Grade'])
#df_Total['patientid'] = le.fit_transform(df_Total['patientid'])
df_Total['City_Code_Patient'] = le.fit_transform(df_Total['City_Code_Patient'])
df_Total['Type of Admission'] = le.fit_transform(df_Total['Type of Admission'])
df_Total['Severity of Illness'] = le.fit_transform(df_Total['Severity of Illness'])
df_Total['Visitors with Patient'] = le.fit_transform(df_Total['Visitors with Patient'])
df_Total['Age'] = le.fit_transform(df_Total['Age'])

## For Scaling the Columns

In [105]:
df_Total['Admission_Deposit']

0         4911.0
1         5954.0
2         4745.0
3         7272.0
4         5558.0
5         4449.0
6         6167.0
7         5571.0
8         7223.0
9         6056.0
10        5797.0
11        5993.0
12        5141.0
13        8477.0
14        2685.0
15        9398.0
16        2933.0
17        5342.0
18        7442.0
19        5155.0
20        8181.0
21        6672.0
22        6364.0
23        4664.0
24        4091.0
25        2405.0
26        5164.0
27        5055.0
28        3339.0
29        5757.0
           ...
137027    4397.0
137028    3906.0
137029    8316.0
137030    3815.0
137031    4050.0
137032    3017.0
137033    4365.0
137034    4587.0
137035    8933.0
137036    5760.0
137037    3020.0
137038    3858.0
137039    3862.0
137040    4749.0
137041    2804.0
137042    5577.0
137043    5675.0
137044    5416.0
137045    3641.0
137046    4800.0
137047    4418.0
137048    3816.0
137049    4406.0
137050    4573.0
137051    5241.0
137052    6313.0
137053    3510.0
137054    7190.0
137055    5435.0
137056    4702.0
Name: Admission_Deposit, Length: 455495, dtype: float64

In [106]:
df_Total['Admission_Deposit'].describe()

count    455495.000000
mean       4877.434022
std        1084.982089
min        1800.000000
25%        4184.000000
50%        4738.000000
75%        5405.000000
max       11920.000000
Name: Admission_Deposit, dtype: float64

## Un Merge the Train and Test Data after Feature Engineering

In [107]:
#Un-Merge code
df_Train_final = df_Total[df_Total['is_train'] == 1]
df_Test_final = df_Total[df_Total['is_train'] == 0]

In [15]:
df_Train_final

,Admission_Deposit,Age,Available Extra Rooms in Hospital,Bed Grade,City_Code_Hospital,City_Code_Patient,Department,Hospital_code,Hospital_region_code,Hospital_type_code,Severity of Illness,Stay,Type of Admission,Visitors with Patient,Ward_Facility_Code,Ward_Type,case_id,is_train,patientid,Bill_per_patient
0,4911.0,5,3,1,2,6,3,7,2,2,0,0-10,0,2,5,2,1,1,31397,83314.0
1,5954.0,5,2,1,4,6,3,1,2,2,0,41-50,1,2,5,3,2,1,31397,83314.0
2,4745.0,5,2,1,0,6,1,9,0,4,0,31-40,1,2,4,3,3,1,31397,83314.0
3,7272.0,5,2,1,1,6,3,25,1,1,0,41-50,1,2,3,2,4,1,31397,83314.0
4,5558.0,5,2,1,1,6,3,25,1,1,0,41-50,1,2,3,3,5,1,31397,83314.0
5,4449.0,5,2,1,5,6,1,22,0,0,0,11-20,1,2,5,3,6,1,31397,83314.0
6,6167.0,5,1,2,7,6,3,31,1,5,0,0-10,0,2,1,3,7,1,31397,83314.0
7,5571.0,5,4,2,5,6,3,22,0,0,0,41-50,1,2,5,1,8,1,31397,83314.0
8,7223.0,5,2,3,8,6,2,0,1,3,0,51-60,1,2,1,2,9,1,31397,83314.0
9,6056.0,5,2,2,0,6,2,9,0,4,0,31-40,1,2,4,3,10,1,31397,83314.0
10,5797.0,5,2,1,7,6,3,21,1,6,0,21-30,2,2,1,3,11,1,31397,83314.0
11,5993.0,5,4,0,1,6,3,25,1,1,0,11-20,2,2,3,2,12,1,31397,83314.0
12,5141.0,5,2,2,2,6,3,15,2,2,0,0-10,0,2,0,2,13,1,31397,83314.0
13,8477.0,5,3,2,4,6,3,8,2,3,0,21-30,2,2,5,3,14,1,31397,83314.0
14,2685.0,7,4,2,5,7,2,5,0,0,0,0-10,0,2,5,1,15,1,63418,62927.0
15,9398.0,7,3,2,5,7,2,5,0,0,0,0-10,0,2,5,1,16,1,63418,62927.0
16,2933.0,7,4,2,5,7,3,22,0,0,0,0-10,2,4,5,1,17,1,63418,62927.0
17,5342.0,7,4,2,3,7,1,28,0,0,0,11-20,0,2,5,3,18,1,63418,62927.0
18,7442.0,7,4,1,7,7,3,31,1,5,0,21-30,1,2,1,3,19,1,63418,62927.0
19,5155.0,7,4,1,7,7,3,11,1,0,0,31-40,1,2,1,1,20,1,63418,62927.0
20,8181.0,7,2,2,2,7,1,15,2,2,0,31-40,1,2,0,3,21,1,63418,62927.0
21,6672.0,7,2,2,2,7,1,2,2,2,0,21-30,1,2,0,2,22,1,63418,62927.0
22,6364.0,7,2,2,2,7,1,20,2,2,0,11-20,1,2,0,3,23,1,63418,62927.0
23,4664.0,7,3,2,5,7,1,5,0,0,0,21-30,2,2,5,2,24,1,63418,62927.0
24,4091.0,7,4,0,1,7,3,25,1,1,0,31-40,1,4,3,1,25,1,63418,62927.0
25,2405.0,3,4,1,9,1,2,27,0,1,2,11-20,0,2,5,2,26,1,8088,26235.0
26,5164.0,3,4,2,1,1,1,25,1,1,2,11-20,1,2,3,1,27,1,8088,26235.0
27,5055.0,3,4,2,1,1,2,25,1,1,2,21-30,1,2,3,2,28,1,8088,26235.0
28,3339.0,3,4,1,5,1,2,5,0,0,2,31-40,1,4,5,1,29,1,8088,26235.0
29,5757.0,3,4,1,6,1,2,26,1,0,2,21-30,1,2,2,2,30,1,8088,26235.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318408,3930.0,1,2,1,7,7,2,21,1,6,2,51-60,1,2,1,3,318409,1,84463,3930.0
318409,8937.0,4,2,3,2,6,4,29,2,2,2,21-30,0,3,0,2,318410,1,102826,8937.0
318410,4020.0,3,4,1,6,7,2,18,1,0,1,11-20,0,2,2,1,318411,1,50167,4020.0
318411,4412.0,4,2,1,7,6,1,21,1,6,1,0-10,2,2,1,3,318412,1,62934,4412.0
318412,4591.0,2,2,3,5,6,2,5,0,0,1,0-10,0,2,5,2,318413,1,90885,4591.0
318413,4624.0,6,2,3,0,9,2,23,0,0,2,11-20,0,2,4,1,318414,1,73371,4624.0
318414,4539.0,9,2,3,9,0,1,27,0,1,2,11-20,1,4,5,2,318415,1,41602,4539.0
318415,4540.0,0,3,3,9,9,2,27,0,1,2,11-20,2,3,5,2,318416,1,122839,4540.0
318416,7202.0,5,3,1,7,7,2,11,1,0,0,11-20,0,4,1,4,318417,1,97491,7202.0
318417,4819.0,2,4,3,4,3,2,14,2,2,1,21-30,2,2,5,1,318418,1,104580,4819.0
318418,4499.0,3,2,3,0,30,2,16,0,4,1,0-10,2,2,4,2,318419,1,38816,4499.0
318419,4339.0,4,1,3,2,5,2,15,2,2,2,31-40,1,2,0,3,318420,1,92559,4339.0
318420,4667.0,7,3,2,2,18,1,2,2,2,2,11-20,2,2,0,1,318421,1,79339,4667.0
318421,4277.0,4,2,1,6,7,2,18,1,0,2,0-10,0,2,2,3,318422,1,70282,4277.0
318422,4510.0,4,3,1,7,21,1,21,1,6,1,0-10,0,3,1,2,318423,1,87939,4510.0
318423,3190.0,3,2,3,5,0,1,22,0,0,2,11-20,2,2,5,1,318424,1,131049,3190.0
318424,4455.0,5,2,3,5,1,3,5,0,0,2,11-20,2,2,5,2,318425,1,22709,4455.0
318425,8052.0,1,2,3,4,11,1,14,2,2,1,11-20,0,2,5,3,318426,1,50508,8052.0
318426,4185.0,0,3,3,0,30,2,16,0,4,1,0-10,0,3,4,2,318427,1,109647,4185.0
318427,4271.0,5,2,2,1,4,0,19,1,1,1,31-40,2,4,3,3,318428,1,79108,4271.0
318428,4125.0,1,2,3,5,9,2,22,0,0,1,11-20,2,2,5,1,318429,1,26631,4125.0
318429,3559.0,5,3,2,2,6,2,2,2,2,1,0-10,2,2,0,3,318430,1,14309,3559.0
318430,5065.0,4,3,3,5,7,1,5,0,0,2,21-30,1,2,5,1,318431,1,109796,5065.0
318431,4508.0,7,3,3,5,1,1,22,0,0,0,11-20,2,2,5,1,318432,1,120672,4508.0
318432,8308.0,1,2,2,1,5,1,25,1,1,1,21-30,0,3,3,2,318433,1,36018,8308.0
318433,4144.0,4,3,3,5,21,3,5,0,0,2,11-20,0,3,5,1,318434,1,86499,4144.0
318434,6699.0,8,2,3,0,7,1,23,0,0,2,31-40,2,4,4,1,318435,1,325,6699.0
318435,4235.0,7,3,3,3,9,2,6,0,0,1,11-20,0,3,5,2,318436,1,125235,4235.0
318436,3761.0,1,3,2,1,7,1,10,1,1,1,11-20,1,5,3,1,318437,1,91081,3761.0
318437,4752.0,1,5,1,6,7,2,18,1,0,1,0-10,0,2,2,1,318438,1,21641,4752.0

In [108]:
df_Test_final

,Admission_Deposit,Age,Available Extra Rooms in Hospital,Bed Grade,City_Code_Hospital,City_Code_Patient,Department,Hospital_code,Hospital_region_code,Hospital_type_code,Severity of Illness,Stay,Type of Admission,Visitors with Patient,Ward_Facility_Code,Ward_Type,case_id,is_train,patientid,Bill_per_patient
0,3095.0,7,3,1,2,1,2,20,2,2,2,NaN,0,2,0,3,318439,0,17006,28765.0
1,4018.0,7,2,1,3,1,2,28,0,0,2,NaN,1,4,5,3,318440,0,17006,28765.0
2,4492.0,7,3,3,1,1,2,25,1,1,2,NaN,0,3,3,1,318441,0,17006,28765.0
3,4173.0,7,3,1,5,1,2,5,0,0,2,NaN,1,3,5,1,318442,0,17006,28765.0
4,4161.0,7,2,1,9,1,2,27,0,1,2,NaN,1,4,5,2,318443,0,17006,28765.0
5,4659.0,7,3,1,5,1,2,22,0,0,2,NaN,1,2,5,1,318444,0,17006,28765.0
6,4167.0,7,2,1,1,1,2,25,1,1,2,NaN,1,2,3,1,318445,0,17006,28765.0
7,4396.0,3,4,2,0,1,2,24,0,4,2,NaN,0,2,4,3,318446,0,95946,28755.0
8,4088.0,3,4,2,5,1,2,22,0,0,2,NaN,1,2,5,1,318447,0,95946,28755.0
9,3925.0,3,3,3,5,1,2,22,0,0,2,NaN,2,2,5,1,318448,0,95946,28755.0
10,4241.0,3,4,1,0,1,2,9,0,4,2,NaN,1,2,4,1,318449,0,95946,28755.0
11,3468.0,3,3,2,3,1,2,3,0,0,2,NaN,0,6,5,2,318450,0,95946,28755.0
12,4322.0,3,4,2,2,1,2,15,2,2,2,NaN,1,3,0,2,318451,0,95946,28755.0
13,4315.0,3,3,3,9,1,2,27,0,1,2,NaN,2,2,5,2,318452,0,95946,28755.0
14,3288.0,5,1,1,6,7,2,18,1,0,2,NaN,0,4,2,3,318453,0,40728,44834.0
15,6818.0,5,5,3,1,7,2,25,1,1,2,NaN,0,4,3,3,318454,0,40728,44834.0
16,3410.0,5,2,3,6,7,2,18,1,0,2,NaN,0,2,2,3,318455,0,40728,44834.0
17,4782.0,5,3,3,1,7,2,25,1,1,2,NaN,1,6,3,0,318456,0,40728,44834.0
18,5357.0,5,4,1,5,7,1,22,0,0,2,NaN,0,4,5,1,318457,0,40728,44834.0
19,6984.0,5,2,1,0,7,1,24,0,4,2,NaN,1,2,4,3,318458,0,40728,44834.0
20,5716.0,5,2,1,7,7,2,31,1,5,2,NaN,2,2,1,3,318459,0,40728,44834.0
21,3410.0,5,2,2,1,7,2,25,1,1,2,NaN,2,6,3,2,318460,0,40728,44834.0
22,5069.0,5,2,2,1,7,2,10,1,1,2,NaN,2,2,3,3,318461,0,40728,44834.0
23,4596.0,5,2,2,5,6,1,5,0,0,2,NaN,0,4,5,2,318462,0,128946,34683.0
24,3933.0,5,3,1,8,6,2,0,1,3,2,NaN,1,6,1,2,318463,0,128946,34683.0
25,4884.0,5,2,3,5,6,2,5,0,0,2,NaN,1,3,5,2,318464,0,128946,34683.0
26,5138.0,5,4,2,4,6,2,14,2,2,2,NaN,1,4,5,0,318465,0,128946,34683.0
27,3753.0,5,6,1,4,6,2,14,2,2,2,NaN,0,6,5,0,318466,0,128946,34683.0
28,5397.0,5,4,3,5,6,1,22,0,0,2,NaN,2,2,5,1,318467,0,128946,34683.0
29,3143.0,5,3,2,5,6,2,5,0,0,2,NaN,2,5,5,1,318468,0,128946,34683.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137027,4397.0,4,3,1,7,7,2,31,1,5,2,NaN,2,2,1,3,455466,0,15179,4397.0
137028,3906.0,5,3,2,6,7,2,18,1,0,2,NaN,0,5,2,1,455467,0,84978,3906.0
137029,8316.0,1,2,3,4,6,3,14,2,2,1,NaN,2,2,5,2,455468,0,43022,8316.0
137030,3815.0,1,3,3,4,4,2,8,2,3,2,NaN,2,2,5,2,455469,0,67792,3815.0
137031,4050.0,6,4,3,0,9,2,24,0,4,1,NaN,1,5,4,2,455470,0,45954,4050.0
137032,3017.0,2,6,3,6,7,2,26,1,0,1,NaN,1,3,2,1,455471,0,40918,3017.0
137033,4365.0,7,4,1,7,6,2,11,1,0,1,NaN,2,4,1,3,455472,0,90642,4365.0
137034,4587.0,6,2,3,0,16,1,16,0,4,1,NaN,2,2,4,2,455473,0,68012,4587.0
137035,8933.0,3,2,3,2,3,2,15,2,2,1,NaN,0,3,0,3,455474,0,1617,8933.0
137036,5760.0,4,4,3,5,4,1,22,0,0,2,NaN,1,4,5,1,455475,0,109822,5760.0
137037,3020.0,0,4,3,5,1,2,22,0,0,1,NaN,0,6,5,2,455476,0,101360,6878.0
137038,3858.0,0,4,3,5,1,2,5,0,0,1,NaN,0,6,5,2,455477,0,101360,6878.0
137039,3862.0,7,5,1,6,7,2,18,1,0,2,NaN,0,4,2,1,455478,0,41025,3862.0
137040,4749.0,4,2,3,0,9,0,23,0,0,1,NaN,1,3,4,2,455479,0,75048,4749.0
137041,2804.0,5,2,1,6,7,2,18,1,0,1,NaN,0,4,2,3,455480,0,124764,2804.0
137042,5577.0,5,3,2,1,16,2,10,1,1,0,NaN,2,3,3,1,455481,0,84400,5577.0
137043,5675.0,7,5,3,4,19,2,14,2,2,2,NaN,0,4,5,1,455482,0,93774,5675.0
137044,5416.0,5,2,3,4,7,2,14,2,2,2,NaN,1,2,5,2,455483,0,14503,5416.0
137045,3641.0,5,3,2,6,7,2,18,1,0,1,NaN,0,3,2,1,455484,0,15705,3641.0
137046,4800.0,0,2,3,0,9,1,13,0,0,1,NaN,2,2,4,1,455485,0,35621,4800.0
137047,4418.0,3,2,3,4,3,2,8,2,3,2,NaN,0,3,5,3,455486,0,55235,8234.0
137048,3816.0,3,2,2,4,3,2,12,2,0,2,NaN,0,2,5,2,455487,0,55235,8234.0
137049,4406.0,6,6,1,7,6,2,11,1,0,2,NaN,0,4,1,1,455488,0,99515,4406.0
137050,4573.0,2,3,2,4,19,2,12,2,0,2,NaN,0,3,5,2,455489,0,22878,4573.0
137051,5241.0,2,2,3,4,5,2,14,2,2,1,NaN,2,2,5,3,455490,0,118215,5241.0
137052,6313.0,4,4,2,1,2,1,10,1,1,1,NaN,0,4,3,1,455491,0,41160,6313.0
137053,3510.0,0,2,3,0,6,3,24,0,4,2,NaN,0,2,4,2,455492,0,30985,3510.0
137054,7190.0,0,2,3,2,11,1,29,2,2,1,NaN,2,2,0,2,455493,0,81811,7190.0
137055,5435.0,4,2,3,0,9,1,4,0,0,1,NaN,1,2,4,2,455494,0,57021,5435.0
137056,4702.0,5,3,3,5,2,2,5,0,0,0,NaN,1,5,5,1,455495,0,126729,4702.0

# Data Modelling

## Split the Data to x and y variable

In [109]:
df_Train_final.columns

Index(['Admission_Deposit', 'Age', 'Available Extra Rooms in Hospital',
       'Bed Grade', 'City_Code_Hospital', 'City_Code_Patient', 'Department',
       'Hospital_code', 'Hospital_region_code', 'Hospital_type_code',
       'Severity of Illness', 'Stay', 'Type of Admission',
       'Visitors with Patient', 'Ward_Facility_Code', 'Ward_Type', 'case_id',
       'is_train', 'patientid', 'Bill_per_patient'],
      dtype='object')

In [126]:
x = df_Train_final
x = x.drop(['case_id'], axis=1)
#x = x.drop(['patientid'], axis=1)
x = x.drop(['is_train'], axis=1)
x = x.drop(['Stay'], axis=1)
y = df_Train['Stay']
x_pred = df_Test_final
x_pred = x_pred.drop(['case_id'], axis=1)
#x_pred = x_pred.drop(['patientid'], axis=1)
x_pred = x_pred.drop(['is_train'], axis=1)
x_pred = x_pred.drop(['Stay'], axis=1)

In [128]:
x.head()

,Admission_Deposit,Age,Available Extra Rooms in Hospital,Bed Grade,City_Code_Hospital,City_Code_Patient,Department,Hospital_code,Hospital_region_code,Hospital_type_code,Severity of Illness,Type of Admission,Visitors with Patient,Ward_Facility_Code,Ward_Type,patientid,Bill_per_patient
0,4911.0,5,3,1,2,6,3,7,2,2,0,0,2,5,2,31397,83314.0
1,5954.0,5,2,1,4,6,3,1,2,2,0,1,2,5,3,31397,83314.0
2,4745.0,5,2,1,0,6,1,9,0,4,0,1,2,4,3,31397,83314.0
3,7272.0,5,2,1,1,6,3,25,1,1,0,1,2,3,2,31397,83314.0
4,5558.0,5,2,1,1,6,3,25,1,1,0,1,2,3,3,31397,83314.0

## Boosting Algorithm

### LightGBM Model

In [129]:
params = {}
params['learning_rate'] = 0.09
params['max_depth'] = 50
params['n_estimators'] = 500
params['objective'] = 'multiclass'
params['boosting_type'] = 'gbdt'
params['subsample'] = 0.7
params['random_state'] = 50
params['colsample_bytree']=0.7
params['min_data_in_leaf'] = 55
params['reg_alpha'] = 1.6
params['reg_lambda'] = 1.1

In [133]:
clf = lgb.LGBMClassifier(**params)
clf.fit(x, np.ravel(y), eval_metric='multi_error', verbose=False)
predparams= clf.predict(x)
predparams

array(['11-20', '51-60', '21-30', ..., '21-30', '31-40', '0-10'],
      dtype=object)

In [131]:
y_pred= clf.predict(x_pred)
y_pred

array(['0-10', '51-60', '21-30', ..., '21-30', '11-20', '51-60'],
      dtype=object)

In [132]:
submission_df = pd.DataFrame({'case_id':df_Test['case_id'], 'Stay':y_pred})
submission_df.to_csv('Sample Submission LGB Final1.csv', index=False)

Public Score of 42.88